services:
  postgres:
    image: postgres:16
    container_name: c_postgres
    user: root
    restart: unless-stopped
    environment:
      - POSTGRES_USER=dbadmin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=odoodb
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --locale=en_US.UTF-8
      #- PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./datadrive/postgres/db:/var/lib/postgresql/data
      #- ./datadrive/postgres/custom-init-scripts:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbadmin || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    networks:
      - odoo_network
  pgadmin:
    image: dpage/pgadmin4
    container_name: c_pgadmin4
    user: root
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_CONFIG_WTF_CSRF_ENABLED=False
      - PGADMIN_LISTEN_PORT=5050
      - SCRIPT_NAME=/pgadmin
    volumes:
      - ./datadrive/pgadmin/data:/var/lib/pgadmin
    #depends_on:
    #  postgres:
    #    condition: service_healthy
    networks:
      - odoo_network
    expose:
      - "5050"
  odoo17:
    image: odoo:17
    user: root
    container_name: c_odoo17
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - TZ=America/Lima
      - LANG=es_PE.UTF-8
      - HOST=postgres
      - USER=dbadmin
      - PASSWORD=password
      - DB_NAME=odoodb
      - LOGFILE=/etc/odoo/odoo-server.log
      - FILESTORE_PATH=/var/lib/odoo/filestore
      - ODOO_POOL_SIZE=${ODOO_POOL_SIZE:-20}
      - ODOO_MAX_CRON_THREADS=${ODOO_MAX_CRON_THREADS:-2}
      - ODOO_WORKERS=${ODOO_WORKERS:-4}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./datadrive/odoo/addons:/mnt/extra-addons
      #- ./datadrive/odoo/etc:/etc/odoo:ro
      - ./datadrive/odoo/filestore:/var/lib/odoo/filestore
    expose:
      - "8069"
      - "8072"
    networks:
      - odoo_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8069/web/health || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 120s
  nginx:
    image: nginx:alpine
    user: root
    container_name: c_nginx
    restart: unless-stopped
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./datadrive/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./datadrive/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./datadrive/nginx/certs:/etc/nginx/ssl:ro
      - ./datadrive/nginx/logs:/var/log/nginx
      - ./datadrive/nginx/.htpasswd:/etc/nginx/.htpasswd:ro
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.conf
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
      - NGINX_WORKER_PROCESSES=auto
      - NGINX_WORKER_CONNECTIONS=4096
    #depends_on:
    #  odoo17:
    #    condition: service_healthy
    #  pgadmin:
    #    condition: service_started
    networks:
      - odoo_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
networks:
  odoo_network:
    driver: bridge
   # ipam:
   #   config:
   #     - subnet: 172.20.0.0/24
   #       gateway: 172.20.0.1
