services:
  postgres:
    image: postgres:16
    container_name: c_postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --locale=en_US.UTF-8
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./datadrive/postgres/db:/var/lib/postgresql/data
      - ./datadrive/postgres/custom-init-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - internal_net

  pgadmin:
    image: dpage/pgadmin4
    container_name: c_pgadmin4
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
      - PGADMIN_CONFIG_WTF_CSRF_ENABLED=False
      - PGADMIN_LISTEN_PORT=5050
      - SCRIPT_NAME=/pgadmin
    volumes:
      - ./datadrive/pgadmin/data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internal_net

  odoo17:
    image: odoo:17
    container_name: c_odoo17
    user: odoo
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - TZ=America/Lima
      - LANG=es_PE.UTF-8
      - HOST=postgres
      - USER=${DB_USER}
      - PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - LOGFILE=/etc/odoo/odoo-server.log
      - FILESTORE_PATH=/var/lib/odoo/filestore
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # - ./datadrive/entrypoint.sh:/entrypoint.sh
      - ./datadrive/odoo/addons:/mnt/extra-addons
      - ./datadrive/odoo/etc:/etc/odoo
      - ./datadrive/odoo/filestore:/var/lib/odoo/filestore
    networks:
      - internal_net

  nginx:
    image: nginx:1.26.1
    container_name: c_nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./datadrive/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./datadrive/nginx/logs:/var/log/nginx
      - ./datadrive/nginx/conf.d:/etc/nginx/conf.d
      - ./datadrive/nginx/certs:/etc/nginx/ssl
    depends_on:
      odoo17:
        condition: service_started
    networks:
      - internal_net
      - public_net

networks:
  internal_net:
    internal: true
  public_net:
    driver: bridge
